﻿@model RedPacifico.ViewModels.SalesDetailsViewModels
@{
    ViewData["Title"] = "Editar Venta";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label class="h3 text-secondary">@ViewData["Title"]</label>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="SalesDetailsId" />
                <input type="hidden" asp-for="CustomerId" />
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" asp-for="SalesId" />
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <select asp-for="CustomerId" class="form-control" asp-items="@Model.Customer" disabled></select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label"></label>
                    <select asp-for="ProductId" class="form-control" asp-items="@Model.Product" disabled></select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                    <p class="text-danger">@Model.MessageError</p>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" disabled />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Import" class="control-label"></label>
                    <input asp-for="Import" class="form-control" disabled />
                    <span asp-validation-for="Import" class="text-danger"></span>
                </div>
                <div class="col-md-12 text-right">
                    <a asp-action="Edit" asp-controller="Sales" asp-route-id="@Model.SalesId" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
