﻿@model RedPacifico.ViewModels.CustomerViewModels
@{
    ViewData["Title"] = "Editar Cliente";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label class="h3 text-secondary">@ViewData["Title"]</label>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.CustomerId" />
                <div class="form-group">
                    <label asp-for="@Model.CustomerName" class="control-label"></label>
                    <input asp-for="@Model.CustomerName" class="form-control">
                    <span asp-validation-for="@Model.CustomerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.LastName" class="control-label"></label>
                    <input asp-for="@Model.LastName" class="form-control">
                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.MothersLastName" class="control-label"></label>
                    <input asp-for="@Model.MothersLastName" class="form-control">
                    <span asp-validation-for="@Model.MothersLastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.RFC" class="control-label"></label>
                    <input asp-for="@Model.RFC" class="form-control">
                    <span asp-validation-for="@Model.RFC" class="text-danger"></span>
                </div>
                <div class="col-md-12 text-right">
                    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}