﻿@model IEnumerable<RedPacifico.ViewModels.CustomerViewModels>
@{
    ViewData["Title"] = "Catálogo de Clientes";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label class="h3 text-secondary">@ViewData["Title"]</label>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-7 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Nuevo Cliente</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-7">
            <table class="table table-striped table-hover">
                <thead class="bg-info text-white">
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Nombre</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{ foreach (var customer in Model)
                        {
                            <tr>
                                <td width="10%" class="text-center">@customer.CustomerId</td>
                                <td>@customer.CustomerName @customer.LastName @customer.MothersLastName</td>
                                <td width="10%">
                                    <a asp-action="Edit" asp-route-id="@customer.CustomerId" class="btn btn-success btn-sm">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        }}
                </tbody>
            </table>
        </div>
    </div>
</div>