﻿@model IEnumerable<RedPacifico.ViewModels.ProductViewModels>
@{
    ViewData["Title"] = "Catálogo de Productos";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label class="h3 text-secondary">@ViewData["Title"]</label>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-7 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Nuevo Producto</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-7">
            <table class="table table-striped table-hover">
                <thead class="bg-info text-white">
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{ foreach (var product in Model)
                        {
                            <tr>
                                <td width="10%" class="text-center">@product.ProductId</td>
                                <td>@product.ProductName</td>
                                <td width="10%"><a asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-success btn-sm"><i class="fas fa-pencil-alt"></i></a></td>
                            </tr>
                        }}
                </tbody>
            </table>
        </div>
    </div>
</div>
