﻿@model RedPacifico.ViewModels.SalesViewModels;
@{
    ViewData["Title"] = "Registro de Venta";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label class="h3 text-secondary">@ViewData["Title"]</label>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="text" value="@Model.SalesId" asp-for="@Model.SalesId" hidden />
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <select asp-for="CustomerId" class="form-control" asp-items="Model.Customers">
                        <option value="">----Seleccione un cliente---</option>
                    </select>
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label"></label>
                    <select asp-for="ProductId" class="form-control" asp-items="Model.Products">
                        <option value="">----Seleccione un producto---</option>
                    </select>
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Quantity" class="control-label"></label>
                    <input asp-for="@Model.Quantity" class="form-control">
                    <span asp-validation-for="@Model.Quantity" class="text-danger"></span>
                    <p class="text-danger">@Model.MessageError</p>                    
                </div>
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Agregar</button>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <table class="table table-striped table-hover">
                <thead class="bg-info text-white">
                    <tr>
                        <th scope="col">Descripcion del Producto</th>
                        <th scope="col">Modelo</th>
                        <th scope="col" class="text-center">Cantidad</th>
                        <th scope="col" class="text-center">Precio</th>
                        <th scope="col" class="text-center">Importe</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var sale in Model.Details)
                        {
                            <tr>
                                <td>@sale.Product.ProductName</td>
                                <td>@sale.Product.Model</td>
                                <td width="10%" class="text-center">@sale.Quantity</td>
                                <td width="10%" class="text-center">@sale.Price</td>
                                <td width="10%" class="text-center">@sale.Import</td>                                
                                <td width="15%" class="text-right">
                                    <a asp-action="Edit" asp-controller="SalesDetails" asp-route-id="@sale.SalesDetailsId" class="btn btn-info btn-sm">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@sale.SalesDetailsId" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <hr />
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 text-right"><label asp-for="@Model.Downpayment"></label></div>
                <div class="col-xs-1 col-sm-1 col-md-1">@Model.Downpayment</div>
            </div>
            <div class=" row">
                <div class="col-xs-6 col-sm-6 col-md-6 text-right"><label asp-for="@Model.BonificationDownpayment"></label></div>
                <div class="col-xs-1 col-sm-1 col-md-1">@Model.BonificationDownpayment</div>
            </div>
            <div class=" row">
                <div class="col-xs-6 col-sm-6 col-md-6 text-right"><label asp-for="@Model.Total"></label></div>
                <div class="col-xs-1 col-sm-1 col-md-1">@Model.Total</div>
            </div>
            <div class=" row">
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <a asp-action="Index" class="btn btn-secondary"><i class="fas fa-undo"></i> Cancelar</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a asp-action="Save" class="btn btn-primary" asp-route-id="@Model.SalesId"><i class="fas fa-save"></i> Guardar</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}