﻿@model IEnumerable<RedPacifico.ViewModels.SalesViewModels>

@{
    ViewData["Title"] = "Lista de Ventas";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <label class="h3 text-secondary">@ViewData["Title"]</label>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-7 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Nueva Venta</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-7">
            <table class="table table-striped table-hover">
                <thead class="bg-info text-white">
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Enganche</th>
                        <th scope="col">Bonificacion enganche</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @{ foreach (var sale in Model) {
                        <tr>
                            <td>
                                @foreach (var detail in sale.Details)
                                {
                                    <a>@detail.Customer.CustomerName </a>
                                    <a>@detail.Customer.LastName </a>
                                    <br />
                                }
                            </td>
                            <td>
                                @foreach (var detail in sale.Details)
                                {
                                    <a>@detail.Product.ProductName </a>
                                    <a>@detail.Product.Model </a>
                                    <br />
                                }
                            </td>
                            <td width="10%" class="text-center">@sale.Downpayment</td>
                            <td width="10%" class="text-center">@sale.BonificationDownpayment</td>
                            <td width="10%" class="text-center">@sale.Total</td>
                        </tr>
                    }}
                </tbody>
            </table>
        </div>
    </div>
</div>
